*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color: black;
    background-image: url(img/iconeHalter1.1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.topo{
    background-color: #006400;
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
    padding: 5px 0px 5px 20px;
}


.renovacao{
    text-align: right;
    margin: auto 5px;
    color: #964b00;
    font-weight: bolder;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 20px;
}

a{
    text-decoration: none;
    /* color: #006400; */
    color: #964b00;
    font-weight: bold;
    margin: 5px 0px;
    font-size: 21px;
}