*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: black;
    background-image: url(img/iconeHalter1.1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.topo{
    background-color: #006400;
    display: inline-flex;
    width: 100%;
}
.linkBotaoVoltar{
    background-color: #964b00;
    color: #000000;
    padding: auto 5px;
}
#botaoVoltar{
    background-color: #964b00;
    margin: 5px;
    font-weight: bolder;
}
h1{
    padding: 5px 0px 5px 10px;
}


.conteudo{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 10px 0px;
}

h2{
    /* color: #006400; */ 
    color: #964b00;
    font-weight: bold;
    margin: 7px 0px 3px 0px;
}
.exercicio{
    color:#ffffff;
    font-weight: bold;
    margin: 3px 0px;
}
.repeticoes{    
    /* color: #78866b;
    color: #964b00; */
    color: #006400;
    font-weight: bold;
    margin-bottom: 5px;
}